#!/bin/bash
apt update -y
apt install -y apache2 mysql-server php php-mysql wget unzip

# Download WordPress
wget https://wordpress.org/latest.tar.gz
tar -xvzf latest.tar.gz
cp -R wordpress/* /var/www/html/

# Set proper permissions
chown -R www-data:www-data /var/www/html
chmod -R 755 /var/www/html

# Restart Apache
systemctl restart apache2
